{:rename-macros {}, :renames {}, :use-macros {doo-tests doo.runner}, :excludes #{}, :name lines.test-runner, :imports nil, :requires {doo.runner doo.runner, lines.core-test lines.core-test}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros {doo.runner doo.runner}, :cljs.analyzer/constants {:seen #{:report-counters lines.core-test/test-numbers :ns :name :file :end-column :type :column :summary :fail :jx.reporter.karma/karma :line :end-run-tests test-numbers lines.core-test :end-line :begin-test-ns :error :pass :arglists :doc :end-test-ns :test}, :order [:jx.reporter.karma/karma :type :fail :error :pass :test :summary :ns lines.core-test :begin-test-ns lines.core-test/test-numbers :name :file :end-column :column :line :end-line :arglists :doc test-numbers :end-test-ns :report-counters :end-run-tests]}, :doc nil}