{:rename-macros {}, :renames {}, :use-macros {}, :excludes #{}, :name clojure.core.rrb-vector.interop, :imports nil, :requires {clojure.core.rrb-vector.protocols clojure.core.rrb-vector.protocols, clojure.core.rrb-vector.rrbt clojure.core.rrb-vector.rrbt}, :cljs.spec/speced-vars [], :uses {-as-rrbt clojure.core.rrb-vector.rrbt, -slicev clojure.core.rrb-vector.protocols, PSliceableVector clojure.core.rrb-vector.protocols, -splicev clojure.core.rrb-vector.protocols, PSpliceableVector clojure.core.rrb-vector.protocols}, :cljs.spec/registry-ref [], :require-macros nil, :doc nil}