{:rename-macros {}, :renames {}, :use-macros {doo-tests doo.runner}, :excludes #{}, :name lines.testrunner, :imports nil, :requires {doo.runner doo.runner, lines.coretest lines.coretest}, :cljs.spec/speced-vars [], :uses nil, :cljs.spec/registry-ref [], :require-macros {doo.runner doo.runner}, :cljs.analyzer/constants {:seen #{:report-counters :ns :name :file :end-column fmt lines.coretest/fmt :type lines.coretest/rtest rtest :column :summary :fail :jx.reporter.karma/karma :line :end-run-tests lines.coretest :end-line :begin-test-ns :error :pass abs lines.coretest/abs :arglists :doc :end-test-ns :test}, :order [:jx.reporter.karma/karma :type :fail :error :pass :test :summary :ns lines.coretest :begin-test-ns lines.coretest/rtest :name :file :end-column :column :line :end-line :arglists :doc rtest lines.coretest/fmt fmt lines.coretest/abs abs :end-test-ns :report-counters :end-run-tests]}, :doc nil}